{% load bootstrap3 %}
{% load static %}
{% load fullcalendar_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shift Tacker</title>
  {% fullcalendar_css %}
  {% fullcalendar_print_css %}
  {% fullcalendar_jquery %}
  {% fullcalendar_jquery_ui %}
  {% fullcalendar_javascript %}

  {% calendar_init event_url %}
  {% block styles%}
  {% bootstrap_css%}
  <link rel="stylesheet" href="{% static 'css/styles.css'%} ">
  {% endblock %}
</head>
<body style="background-color: #eee; margin-top: 75px; margin:0;" onload="myFunction()" >
  
    {% include "navbar.html" %}
    
      {% block content %}
      
      {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="{% static 'js/preloader.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
  
</body>
</html>