{% extends 'base.html' %}
{% load bootstrap3 %}
{% load fullcalendar_tags %}

{% fullcalendar_css %}
{% fullcalendar_print_css %}
{% fullcalendar_jquery %}
{% fullcalendar_jquery_ui %}
{% fullcalendar_javascript %}

{% calendar_init event_url %}


{% block content %}

  <div class="manage-menu animate-bottom">
    <div>
      <a class="admin-dashboard active" href="/">
        <div class="icon"></div>Dashboard 
      </a>
      <a class="admin-users"  href="{% url 'profile' request.user.username %}">
        <div class="icon">
        </div><strong>Profile</strong> 
      </a>
      <a class="admin-groups" href="{% url 'employees'%} ">
        <div class="icon"></div>
        <strong>Coworkers</strong> 
      </a>
    </div>
  </div>
  <table class="table manage-table table-fixed table-hover table-responsive">
    <thead>
      <tr>
        <th>
          <div class="center-vertically">
          
            <a></a>Shift 
          </div>
        </th>
        <th><a  class="link-as-text">
          Monday
          </a>
        </th>
        <!---->
        <th> <a  class="link-as-text">
          Tuesday
          </a>
        </th>
        <!---->
        <!---->
        <th><a class="link-as-text">
          Wednesday
          </a>
        </th>
        <!---->
        <!---->
        <th>
          <a class="link-as-text">
            Thursday
          </a>
          </th>
        <th>
          <a class="link-as-text">
            Friday
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="vs-repeat-before-content" style="width: 100%; height: 0px;"></tr>
        <tr class="info">
          <td>Morning Shift</td>
          <td>Carol Wanjohi</td>
          <td>Gitu Mbugua</td>
          <td>Mweru Muchai</td>
          <td>Virginia Ndung'u</td>
          <td>Peter Maina</td>
        </tr>
        <tr class="success">
          <td>Evening Shift</td>
          <td>Erick Mutua</td>
          <td>David Njoroge</td>
          <td>Khalid</td>
          <td>Apiut Toel</td>
          <td>Neville</td>
        </tr>
        <tr class="danger">
          <td>Night shift</td>
          <td>John Mutavi</td>
          <td>Grantone Mchana</td>
          <td>Latasha Wanjira</td>
          <td>Elijah Osoro</td>
          <td>Kiongo Mburu</td>
        </tr>
    </tbody>
  </table>
</div>
{% calendar %}
{% endblock %}