{%extends 'base.html' %}
{% load static %}

{% block content %}
<div class="manage-menu">
  <div>
    <a class="admin-dashboard active" href="/">
      <div class="icon"></div>Dashboard 
    </a>
    <a class="admin-users"  href="#">
      <div class="icon">
      </div><strong>Profile</strong> 
    </a>
    <a class="admin-groups" href="#">
      <div class="icon"></div>
      <strong>Coworkers</strong> 
    </a>
  </div>
</div>
<div class="edit-user-profile-container">
  <div sticky="" offset="60" useplaceholder="" sticky-class="sticky-full-width" style="display: block; z-index: 10; width: 1200px; left: auto;" class="">
    <div class="bar">
      <h1><a class="link-as-text" href="{% url 'employees'%} ">Employees</a> 
        <span class="gray">&gt;</span>
         {{user.username}}
      </h1>
      <div class="display-flex">
        <button type="button" class="btn btn-cancel btn-icon" ui-sref="users" href="/users">
          <img src="/static/images/back-bf2d54.svg">
        </button> 
        <!---->
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
      <li ><a data-toggle="tab" href="#edit">Update Profile</a></li>
    </ul>
  
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="edit-user-profile-content" >
          <div class="left-side">
              <div class="col-md-2 side">
                  {% if profile.profile_pic %}
                  <img class="picture-circle" src="{{ profile.profile_pic.url }}">
                  <br>
                  {% else %}
                  <img class="picture-circle" src="{% static 'images/profile_placeholder.jpg' %}">
                  {% endif %} <br>
              </div>
          </div>
          <div class="right-side">
              <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <h3>First Name:</h3>
                        <div >{{user.first_name}}</div> 
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <h3>Last Name</h3>
                      <div >{{user.last_name}}</div>
                    </div>
                  </div>
                </div>
                <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <h3>Mobile</h3>
                          <div>{{profile.phonenumber}}</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <h3>Email</h3>
                        <div style="background-color: rgb(255,255,255)">{{user.email}}</div>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="form-group clearfix user-profile-groups ng-pristine ng-valid readonly" ng-form="" ng-class="{readonly: !authentication.user.isManager}">
                  <div class="row user-groups-items">
                    <div class="col-xs-11 center-vertically">
                      <span><img src="/static/images/position-gray-9514ac.svg">Positions</span>
                    </div>
                    <div class="col-xs-5">
                      <!---->
                      <div  class="user-group-item" style="background-color: rgb(247, 107, 106); color: white;">{{profile.position}} 
                      </div>
                      <!---->
                      <!---->
                    </div>
                  </div>
                </div>
                  <div class="form-group clearfix section-with-padding" >
                    <div class="row center-vertically" style="height:36px;">
                      <div class="col-xs-11">
                        <div><p>Password</p>  
                          <small>Click the button on the right if you need to reset your password.</small>
                        </div>
                      </div>
                      <div class="col-xs-5">
                        <button class="btn btn-primary btn-lg btn-block progress-button fill horizontal" type="button" href="/accounts/password/change">
                          <a href="/accounts/password/change"><span class="progress-button-content" >Reset password</span> </a> 
                          <span class="progress-button-progress">
                            <span class="progress-button-progress-inner" style="width:0%"></span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>  
        </div>
      </div>
      <div id="edit" class="tab-pane fade">
          <div class="container">
              <div class="row profile-settings">
                <div class="col-xs-12">
                  <div class="profile-pic-name">
                    {% if user.employee_profile.profile_pic %}
                      <img class="picture-circle--medium" src="{{ user.employee_profile.profile_pic.url }}">
                    {% else %}
                      <img class="picture-circle--medium" src="{% static 'images/profile_placeholder.jpg' %}">
                    {% endif %}
                    <span class="username">{{ user.username }}</span>
                  </div>
                  <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ profile_form.profile_pic.label }}
                      {{ profile_form.profile_pic }}
                      {{ profile_form.profile_pic.errors }}
                    </div>
                    <div class="form-group">
                      {{ user_form.first_name.label }} <br>
                      {{ user_form.first_name }}
                      {{ user_form.first_name.errors }}
                    </div>
                    <div class="form-group">
                      {{ user_form.last_name.label }} <br>
                      {{ user_form.last_name }}
                      {{ user_form.last_name.errors }}
                    </div>
                    <div class="form-group">
                      {{ user_form.email.label }} <br>
                      {{ user_form.email }}
                      {{ user_form.email.errors }}
                    </div>
                    <div class="form-group">
                      {{ profile_form.date_of_birth.label }} <br>
                      {{ profile_form.date_of_birth }}
                      {{ profile_form.date_of_birth.errors }}
                    </div>
                    <div class="form-group">
                      {{ profile_form.phonenumber.label }}<br>
                      {{ profile_form.phonenumber }}
                      {{ profile_form.phonenumber.errors }}
                    </div>
                    
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
              </div>
            </div>
      </div>

    </div>
      </div>
     
    </div>
  </div>
</div>

{% endblock %}